* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #F9BC76;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    height: 100%;
}

.page-title {
    font-size: 32px;
    color: black;
    letter-spacing: 1px;

    margin-bottom: 20px;
}

.page-title.exit {
    animation: page-title-exit 250ms;
    animation-fill-mode: forwards;
    animation-delay: 750ms;
}

form {
    margin: 20px 0 60px;
    padding: 30px 25px;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

form.entrance {
    animation: form-entrance 400ms;
}

form.reject {
    animation: form-reject 250ms;
}

form.submitted {
    animation: form-exit 400ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
}

form .input-block {
    margin-bottom: 20px;
    width: 280px;

    animation: inner-form-entrance 250ms;
    animation-fill-mode: backwards;
}

form .input-block:nth-child(1) {
    animation-delay: 250ms;
}

form .input-block:nth-child(2) {
    animation-delay: 320ms;
}

form.submitted .input-block {
    animation: inner-form-exit 250ms;
    animation-fill-mode: forwards;
}

form.submitted .input-block:nth-child(1) {
    animation-delay: 150ms;
}

form.submitted .input-block:nth-child(2) {
    animation-delay: 70ms;
}

form .input-block label {
    font-size: 14px;
    font-weight: 550;
    color: #2C2825;
}

form .input-block input {
    width: 100%;

    font-size: 16px;
    color: #703e05;

    display: block;
    margin-top: 8px;
    padding: 7px;
    border-radius: 2px;
    border: 1px solid #CEB5A7;

    outline-color: #CEB5A7;
    background-color: #f4a86623;
}

form .login-button {
    min-width: 120px;

    font-weight: 700;
    color: #3B2002;

    display: block;
    border: 2px solid #F9BC76;
    border-radius: 25px;
    margin: auto;
    padding: 7px;

    background-color: #F9BC76;
    transition: background-color 350ms, border-color 350ms;

    animation: inner-form-entrance 250ms;
    animation-delay: 400ms;
    animation-fill-mode: backwards;

    outline: none;
}

form.submitted .login-button {
    animation: inner-form-exit 250ms;
    animation-fill-mode: forwards;
}

form .login-button:hover {
    background-color: #FBCF9D;
    border-color: #F8A94F;
}

.square-container {
    width: 100vw;
    height: 110vh;

    position: absolute;
    top: -10vh;
    z-index: -1;

    overflow: hidden;
}

.square-container.exit {
    animation: square-container-exit 250ms;
    animation-fill-mode: forwards;
    animation-delay: 750ms;
}

.square-container li {
    list-style: none;
    background-color: #3B2002;

    position: absolute;
    bottom: 0;

    animation-name: square-movement;
    animation-iteration-count: infinite;
}

@keyframes form-entrance {
    from {
        opacity: 0;
        transform: scale(0.9) translateX(-100%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

@keyframes form-reject {
    0%,
    100% {
        transform: translateX(0);
    }
    25%,
    75% {
        transform: translateX(-4%);
    }
    50% {
        transform: translateX(4%);
    }
}

@keyframes form-exit {
    from {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
    to {
        opacity: 0;
        transform: scale(0.9) translateX(100%);
    }
}

@keyframes inner-form-entrance {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes inner-form-exit {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(35%);
    }
}

@keyframes square-movement {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-150vh) rotate(1800deg);
    }
}

@keyframes page-title-exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes square-container-exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
